<div class="book">
  <div class="picture"><img src="<%= item.image %>"/></div>
  <div class="info">
    <div class="title"><a target="_blank" href="<%= item.alt %>"> <%= item.title %></a></div>
    <div class="meta"><%= item.author %> / <%= item.pubdate %> <%= item.publisher%> / <%= item.rating %> 分</div>
    <div class="meta"><%= item.updated %> / <%= item.tags %></div>
    <div class="comments"><%= item.comment %></div>
  </div>
</div>
