<div class="book">
  <div class="picture"><img src="<%= item.image %>"/></div>
  <div class="info">
    <div class="title">
      <a target="_blank" href="<%= item.alt %>"><%= item.title %></a>
    </div>
    <div class="meta"><%= item.tags %> </div>
    <div class="comments">评价: <%= item.recommend %></div>
    <div class="meta"><%= item.comment %></div>
  </div>
</div>

