<div class="book">
  <div class="picture"><img src="<%= image %>"/></div>
  <div class="info">
    <div class="title"><a target="_blank" href="<%= alt %>"> <%= title %></a></div>
    <div class="meta"><%= author %> / <%= pubdate %> / <%= rating %> 分</div>
    <div class="meta"><%= updated %> <%= tags %></div>
    <div class="comments"><%= comment %></div>
  </div>
</div>

