<blockquote>
    <p><%- quote; %></p>
</blockquote>

<style>
    <% include index.css %>
</style>

<div class="hexo-douban-tabs">
    <a class="hexo-douban-tab" id="hexo-douban-tab1" href="javascript:;"
       rel="external">
        <%= __('bookReading') %>
        (<%= reading.length %>)</a>
    <a class="hexo-douban-tab" id="hexo-douban-tab2" href="javascript:;"
       rel="external">
        <%= __('bookWish') %>
        (<%= wish.length %>)</a>
    <a class="hexo-douban-tab" id="hexo-douban-tab3" href="javascript:;"
       rel="external">
        <%= __('bookRead') %>
        (<%= read.length %>)</a>
</div>
<div>
    <div id="hexo-douban-item1">
        <% reading.forEach(function(item){ %>
        <% include bookReading.ejs %>
        <% }); %>
        <% include pagination.ejs %>
    </div>
    <div id="hexo-douban-item2">
        <% wish.forEach(function(item){ %>
        <% include bookWish.ejs %>
        <% }); %>
        <% include pagination.ejs %>

    </div>
    <div id="hexo-douban-item3">
        <% read.forEach(function(item){ %>
        <% include bookRead.ejs %>
        <% }); %>
        <% include pagination.ejs %>
    </div>

</div>

<script>
    <% include index.js %>
    <% include pagination.js %>
</script>

