<div class="hexo-douban-item">
    <div class="hexo-douban-picture"><img src="<%= root %>/assets/douban-loading.gif" data-src="<%= item.image %>" referrerPolicy="no-referrer" /></div>
    <div class="hexo-douban-info">
        <div class="hexo-douban-title"><a target="_blank" href="<%= item.alt %>"> <%= item.title %></a></div>
        <div class="hexo-douban-meta"><%= item.pub %>
        </div>
        <div class="hexo-douban-meta"><%= item.updated %> / <%= item.tags %></div>
        <div class="hexo-douban-comments"><%= item.comment %></div>
    </div>
</div>
