<blockquote>
    <p><%- quote; %></p>
</blockquote>

<style>
    <%- include('index.css') -%>
</style>

<div class="hexo-douban-tabs">
    <a class="hexo-douban-tab" id="hexo-douban-tab1" href="javascript:;"
       rel="external">
        <%= __('movieWatching') %>
        (<%= doing.length %>)</a>
    <a class="hexo-douban-tab" id="hexo-douban-tab2" href="javascript:;"
       rel="external">
        <%= __('movieWish') %>
        (<%= wish.length %>)</a>
    <a class="hexo-douban-tab" id="hexo-douban-tab3" href="javascript:;"
       rel="external">
        <%= __('movieWatched') %>
        (<%= collect.length %>)</a>
</div>
<div>
    <div id="hexo-douban-item1">
        <% doing.forEach(function(item){ %>
        <%- include('item',{item:item}) -%>
        <% }); %>
        <%- include('pagination') -%>
    </div>
    <div id="hexo-douban-item2">
        <% wish.forEach(function(item){ %>
        <%- include('item',{item:item}) -%>
        <% }); %>
        <%- include('pagination') -%>
    </div>
    <div id="hexo-douban-item3">
        <% collect.forEach(function(item){ %>
        <%- include('item',{item:item}) -%>
        <% }); %>
        <%- include('pagination') -%>
    </div>
</div>

<script>
    <%- include('index.js') -%>
    <%- include('pagination.js') -%>
</script>

